.splide__pagination {
    position: static;
    margin: 10px;
    & .is-active {
        background-color: $primary-color;
    }

    .splide__pagination__page {
        height: 7px;
        width: 7px;

        &.is-active {
            transform: scale(1.2);
        }
    }
}

.owl-stage {
    display: flex;
    align-items: center;
}
.owl-dots {
    .owl-dot {
        span {
            width: 7px !important;
            height: 7px !important;
            margin: 3px !important;
        }

        &.active {
            span {
                background: $primary-color !important;
                transform: scale(1.2);
            }
        }
    }
}